body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.field {
  margin-bottom: 20px;
}

.shareable input {
  width: 100px;
}

input {
  width: 100%;
}

th {
  text-align: left;
}

label, .label, th {
  font-weight: bold;
  font-size: 18px;
}

table {
  width: 95vw;
  table-layout: fixed;
  overflow-wrap: break-word;
  border-collapse: collapse;
}

td:first-child, th:first-child {
  width: 20vw;
}
